export(apply)
export(assayMatrix)
export(assaycorrelations)
export(colorIdFeatures)
export(eigenassays)
export(eigenexpressions)
export(eigenfeatures)
export(entropy)
export(excludeEigenfeatures)
export(featureMatrix)
export(featurecorrelations)
export(fractions)
export(matrix)
export(signMatrix)
exportClasses(Eigensystem)
exportMethods(compute)
exportMethods(exclude)
exportMethods(plot)
exportMethods(report)
exportMethods(sort)
import(Biobase)
import(BiocGenerics)
import(grid)
importFrom(ReportingTools,HTMLReport)
importFrom(ReportingTools,finish)
importFrom(ReportingTools,publish)
importFrom(gplots,heatmap.2)
importFrom(graphics,plot)
importFrom(hwriter,hwrite)
importFrom(hwriter,hwriteImage)
importFrom(methods,callGeneric)
importFrom(methods,show)
